/*Normalizing*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*Mobile First Styles*/
body {
  background-image: linear-gradient(
    90deg,
    rgba(100, 0, 150, 0.95) 0%,
    rgba(130, 130, 130, 0.55) 10%,
    rgba(80, 80, 80, 0.65) 35% 65%,
    rgba(130, 130, 130, 0.55) 90%,
    rgba(100, 0, 150, 0.95) 100%
  );
}

.nav-container {
  background-color: rgba(150, 150, 150, 1);
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

.sticky {
  background-color: rgba(150, 150, 150, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-branding {
  color: darkmagenta;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 20px;
}

.nav-menu {
  align-items: center;
  background-color: #262626;
  display: Flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  right: -100%;
  position: fixed;
  text-align: center;
  top: 70px;
  transition: 0.2s;
  width: 100%;
}

.nav-item {
  list-style-type: none;
  margin: 16px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: darkmagenta;
}

.nav-menu.active {
  right: 0;
}

.hamburger {
  cursor: pointer;
  display: block;
  margin-right: 10px;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.bar {
  background-color: black;
  border-radius: 100px;
  display: block;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 35px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.intro-title {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 82.5%;
}

.intro-statement {
  margin: 0;
  text-align: center;
  width: 80%;
}

.image-container {
  height: 300px;
  margin: 130px 0;
  width: 300px;
}

.business-logo {
  border-radius: 35%;
  height: 300px;
  width: 300px;
}

.half-square {
  align-items: center;
  background-color: rgba(40, 40, 40, 1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  padding: 50px 30px;
  width: 100%;
}

.skills-intro,
.skills-description {
  margin: 20px 10%;
  text-align: center;
}

.column-square {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.column {
  align-items: center;
  background-color: white;
  box-shadow: 4px 6px 15px black;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 15px;
  position: relative;
  top: -100px;
  width: 33%;
}

.column .skill-gfx {
  margin: 10px 0;
}

.column .skill-title {
  font-size: 1rem;
  margin: 15px 0;
  text-align: center;
}

.column .skill-desc {
  margin: 5px 0;
  text-align: center;
}

.sk1 {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.sk2 {
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.sk3 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.projects-square {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  position: relative;
  top: -50px;
  width: 100%;
}

.projects-square .project-section-title {
  text-align: center;
  width: 100%;
}

.project-spot {
  align-items: center;
  background-color: #262626;
  border-radius: 25px;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 15px;
  transition: all 0.2s;
  width: 100%;
}

.project-spot .project-title {
  color: white;
}

.project-spot:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);
  transform: translateY(-4px);
}

.project-spot:hover .project-title {
  display: none;
}

.hover-display {
  color: rgba(255, 255, 255, 0);
  display: none;
  flex-direction: column;
  transition: all 2.8s;
  width: 100%;
}

.project-spot:hover .hover-display {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hover-display .project-description {
  color: rgb(255, 255, 255);
  margin: 15px;
  text-align: center;
}

.hover-display .website-button {
  background-color: rgba(100, 0, 150, 0.75);
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 1);
  color: white;
  height: 50px;
  margin-top: 20px;
  transition: all 0.2s;
  width: 150px;
}

.hover-display .website-button:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}

.contact-square {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(100, 0, 150, 0.85) 0%,
    rgba(130, 130, 130, 0.55) 20%,
    rgba(80, 80, 80, 0.65) 35% 65%,
    rgba(130, 130, 130, 0.55) 80%,
    rgba(100, 0, 150, 0.85) 100%
  );
  border-top: solid 1px black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 100%;
}

.contact-square .contact-section-title,
.contact-square .contact-pickup {
  margin: 10px 20px;
  text-align: center;
}

.contact-square .contact-pickup {
  margin: 10px 120px;
}

.contact-square .contact-button {
  background-color: rgba(100, 0, 150, 0.75);
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.75);
  color: white;
  height: 50px;
  margin-top: 20px;
  transition: all 0.2s;
  width: 150px;
}

.contact-square .contact-button:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }

  .navbar {
    align-items: center;
    justify-content: center;
  }

  .nav-menu {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
  }

  .nav-link {
    color: black;
    font-size: 1.25em;
    width: auto;
  }

  .nav-item {
    align-items: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 35%;
  }

  .nav-item:hover {
    background-color: black;
  }

  .nav-item:hover .nav-link {
    color: white;
  }

  .intro {
    padding-top: 60px;
  }

  .intro-title {
    font-size: 1.5rem;
    width: 82.5%;
  }

  .half-square {
    padding-top: 70px;
  }

  .project-spot {
    padding: 50px;
    width: 45%;
  }

  .project-section-title {
    font-size: 1.5em;
    margin-bottom: 7%;
  }
}

@media (min-width: 1200px) {
  .navbar {
    min-height: 100px;
  }

  .nav-branding {
    font-size: 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
  }

  .nav-link {
    color: black;
    font-size: 1.25em;
    width: auto;
  }

  .nav-item {
    align-items: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 30%;
  }

  .nav-item:hover {
    background-color: black;
  }

  .nav-item:hover .nav-link {
    color: white;
  }

  .intro-title {
    font-size: 2rem;
  }

  .intro-statement {
    width: 80%;
  }

  .skills-description {
    width: 80%;
  }

  .project-spot {
    padding: 50px;
    width: 45%;
  }

  .project-spot .hover-display .website-button {
    height: 30px;
    width: 100px;
  }

  .hover-display {
    align-items: center;
    justify-content: center;
  }
}
